* { margin: 0; padding: 0;}
a{text-decoration: none;}
ul,li{list-style: none;}
.header, .footer {font-size: 46px; position: absolute; left: 0; top: 0; width: 100%; line-height: 40px;  background-color: #999999;text-align: center}
.header{
	height: 68px;display: flex;line-height: 68px;justify-content: space-between;
	background: red;
}
.header a{color: #fff;}
.footer { top: auto; bottom: 0;height: 70px;line-height: 70px;}
.footer li{width: 20%;float: left;}

.content { padding: 40px;}